{% extends 'wrapper.html' %}

{% block content %}

    <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
<!-- <div class="page-heading">
    <h3>Profile Statistics</h3>
</div>  -->

<div class="form-group text-center" >
    <input type="text" placeholder="Search..." class="form-control w-50 mx-auto m-2" id="helpInputTop" style="border-radius: 26px;">
</div>



<div class="page-content"> 
    <section class="row ">
        
        <div class="col-md-4 mt-2 ">
            <div class="card " >
                <a href="{% url 'main:archive_container_detail' %}">

                <div class="card-content " style="
                background-image: url(static/assets/static/images/extra-images/container-bg.png); 
                height:200px; 
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;">
                    <!-- <img class="img-fluid" src="../static/assets/static/images/extra-images/container-bg.png" alt="Card image cap"> -->
                    <div class="col-md-8 col-lg-12 col-xl-12 p-4">
                        <h4 class="text-white font-bold">N:0001</h4>
                        <h6 class="text-white font-semibold float-right" >03/07/2024</h6>
                    </div>
                    <div class="justify-content-end ">
                        <h5 class="text text-white text-end p-4 fs-4">Arxiv</>
                    </div>
                </div>
            </a>
            </div>
        </div>
        
       
          


            

    </section>
</div>



    

{% endblock content %}