{% extends 'wrapper.html' %}

{% block content %}
<link rel="stylesheet" href="static/assets/extensions/simple-datatables/style.css">



        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>


            <div class="page-heading">

                <section class="section"> 

                    <div class="card">
                        <div class="card-header">
                            <h3 class="text">Mijozlar</h3> 
                            <div class="add-clients-btn d-flex justify-content-end" style="margin-top: -45px;">
                                <a href="#" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#border-less">Mijoz qo'shish +</a>
                            </div>  
                        </div>
                        <div class="card-body">
                            <table class="table table-striped  mt-2" id="table1">
                                <thead>
                                    <tr>
                                        <th>Ism Familya</th>
                                        <th>Telefon</th>
                                        <th>Qarz ( $ )</th>
                                        <th>Qarz ( so'm )</th>
                                        <th>Balans</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Graiden</td>
                                        <td>076 4820 8838</td>
                                        <td>0</td>
                                        <td>15 000</td>
                                        <td>
                                            <span class="text-danger">-15000</span>
                                        </td>
                                        <td><i class="bi bi-pencil-square text-warning fs-5 cursor-pointer" role="button" data-bs-toggle="modal"
                                            data-bs-target="#default"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Graiden</td>
                                        <td>076 4820 8838</td>
                                        <td>0</td>
                                        <td>15 000</td>
                                        <td>
                                            <span class="text-danger">-15000</span>
                                        </td>
                                        <td><i class="bi bi-pencil-square text-warning fs-5 cursor-pointer" role="button" data-bs-toggle="modal"
                                            data-bs-target="#default"></i></td>
                                    </tr>
                                   
                                   
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            </div>
        </div>


       <!-- modals -->
<div class="modal fade text-left modal-borderless" id="border-less" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Mijoz qo'shish</h5>
            <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <div class="modal-body">
           <form action="#">
                <div class="form-group">
                    <label for="basicInput">Ism Familya</label>
                    <input type="text" class="form-control" id="basicInput" placeholder="Name">
                    
                    
                </div>
                <div class="form-group">
                    <label for="basicInput">Telefon</label>
                    <input type="text" class="form-control" id="basicInput" placeholder="phone">
                </div>
           </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Orqaga</span>
            </button>
            <button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal">
                <i class="bx bx-check d-block d-sm-none"></i>
                <a href="#" class="d-none d-sm-block text-white">Qo'shish</>
            </button>
        </div>
    </div>
</div>
</div>
<!-- endmodals --> 

<!-- modals 2 -->
<div class="modal fade text-left" id="default" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel1" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel1">Basic Modal</h5>
            <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <div class="modal-body">
            <form action="#">
                <div class="form-group">
                    <label for="basicInput">Ism Familya</label>
                    <input type="text" class="form-control" id="basicInput" placeholder="Name">
                    
                    
                </div>
                <div class="form-group">
                    <label for="basicInput">Telefon</label>
                    <input type="text" class="form-control" id="basicInput" placeholder="phone">
                </div>
           </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Close</span>
            </button>
            <button type="button" class="btn btn-warning ms-1" data-bs-dismiss="modal">
                <i class="bx bx-check d-block d-sm-none"></i>
                <span class="d-none d-sm-block text-white">O'zgartirish</span>
            </button>
        </div>
    </div>
</div>
</div>

<!-- endmodals 2 -->


<script src="static/assets/extensions/simple-datatables/umd/simple-datatables.js"></script>
<script src="static/assets/static/js/pages/simple-datatables.js"></script>

{% endblock %}