{% extends 'wrapper.html' %}

{% block content %}

<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

<div class="page-heading">
    <section class="section">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h3 class="text m-1 " id="container_name">Vagon raqami: {{ container.name }}   
                    <i class="bi bi-pencil-square text-warning fs-4 mr-4" role="button" data-bs-toggle="modal"
                    data-bs-target="#border-less"></i>
                    <i class="bi bi-trash-fill text-danger fs-4 mr-4" role="button" data-bs-toggle="modal"
                    data-bs-target="#dangerContainer"></i>
                </h3> 
             

                <div class="card-text d-flex flex-wrap mt-2">
                    <h6 class="text text-bold m-1" >Kelgan sanasi: </h6> <h6 class="text m-1 " id="container_come_date"> {{ container.come_date|date:"d/m/Y" }}</h6>
                </div>
                
            </div>
            <div class="card-body row">

                <div class="col-md-6">

                
                    <div class="card-text d-flex flex-wrap">
                        <h6 class="text text-bold m-1">Umumiy harajatlar: </h6> <h6 class="text m-1">{{ general_expenses|floatformat:2}} $</h6>
                    </div>
                    <div class="card-text d-flex flex-wrap">
                        <h6 class="text text-bold m-1">Mahsulotlarni summasi: </h6> <h6 class="text m-1">{{ all_product_sum|floatformat:2}} $</h6>
                    </div>
                    <div class="card-text d-flex flex-wrap">
                        <h6 class="text text-bold m-1">Chiqimlar summasi: </h6> <h6 class="text m-1">{{ all_expense_sum|floatformat:2}} $</h6>
                    </div>
                    <div class="card-text d-flex flex-wrap">
                        <h6 class="text text-bold m-1">Umumiy savdo: </h6> <h6 class="text m-1"> {{ total_sales_revenue_usd|floatformat:2 }} $</h6>
                    </div>
                    <div class="card-text d-flex flex-wrap">
                        <h6 class="text text-bold m-1">Tushgan summa: </h6> <h6 class="text m-1"> {{ container_paid_amount|floatformat:2 }} $</h6>
                    </div>
                    <div class="card-text d-flex flex-wrap">
                        <h6 class="text text-bold m-1">Foyda: </h6> <h6 class="text m-1">{{ profit|floatformat:2 }} $</h6>
                    </div> 
                   
                </div>
            <div class="col-md-6">
                
                <div class="card-text d-flex flex-wrap">
                    <h6 class="text text-bold m-1">Kelgan mahsulot hajmi: </h6> <h6 class="text m-1">{{ product_come_cube|floatformat:4}} (kuba )</h6>
                </div>
                <div class="card-text d-flex flex-wrap">
                    <h6 class="text text-bold m-1">Sotilgan mahsulot hajmi: </h6> <h6 class="text m-1">{{ product_sold_out|floatformat:4}} (kuba )</h6>
                </div>
                <div class="card-text d-flex flex-wrap">
                    <h6 class="text text-bold m-1">Qoldiq mahsulot hajmi: </h6> <h6 class="text m-1">{{ product_rest_cube|floatformat:4}} (kuba )</h6>
                </div>
                <h6 class="text text-bold m-1 " >Ta'minotchi: {{ container.supplier_container.name }}</h6> 


                <span class="badge bg-primary m-1 " style="cursor: pointer;" data-bs-toggle="modal"
                data-bs-target="#backToArchive">Arxivlarga o'tkazish   <i class="bi bi-archive mx-1"></i>
                </span>
            </div>

               
            </div>
         </div>  

    </section>


    <div class="card-content">
        <div class="card-body">
            
          
            <div class="list-group list-group-horizontal-sm mb-1 text-center" >


                {% if request.path|slice:":27"  == "/container-products-detail/" %}

                <a class="list-group-item list-group-item-action active" href="{% url 'main:container-products-detail' container.id %}" role="tab">Mahsulotlar</a>
                <a class="list-group-item list-group-item-action " href="{% url 'main:container-trade-detail' container.id %}" role="tab">Sotuv</a>
                <a class="list-group-item list-group-item-action " href="{% url 'main:container-expence-detail' container.id %}" role="tab">Chiqimlar</a>
                <a class="list-group-item list-group-item-action " href="{% url 'main:container-trade-history' container.id %}" role="tab">Sotuv tarixi</a>


                {% elif  request.path|slice:":24" == '/container-trade-detail/' %}

                <a class="list-group-item list-group-item-action " href="{% url 'main:container-products-detail' container.id  %}" role="tab">Mahsulotlar</a>
                <a class="list-group-item list-group-item-action active" href="{% url 'main:container-trade-detail' container.id   %}" role="tab">Sotuv</a>
                <a class="list-group-item list-group-item-action " href="{% url 'main:container-expence-detail' container.id  %}" role="tab">Chiqimlar</a>
                <a class="list-group-item list-group-item-action " href="{% url 'main:container-trade-history' container.id %}" role="tab">Sotuv tarixi</a>

               
                {% elif  request.path|slice:":27" == '/container-expence-detail' %}
                <a class="list-group-item list-group-item-action " href="{% url 'main:container-products-detail' container.id   %}" role="tab">Mahsulotlar</a>
                <a class="list-group-item list-group-item-action " href="{% url 'main:container-trade-detail'  container.id  %}" role="tab">Sotuv</a>
                <a class="list-group-item list-group-item-action active" href="{% url 'main:container-expence-detail' container.id  %}" role="tab">Chiqimlar</a>
                <a class="list-group-item list-group-item-action " href="{% url 'main:container-trade-history' container.id %}" role="tab">Sotuv tarixi</a>


                {% elif  request.path|slice:":24" == '/container-trade-history' %}
                <a class="list-group-item list-group-item-action " href="{% url 'main:container-products-detail' container.id %}" role="tab">Mahsulotlar</a>
                <a class="list-group-item list-group-item-action " href="{% url 'main:container-trade-detail' container.id  %} " role="tab">Sotuv</a>
                <a class="list-group-item list-group-item-action " href="{% url 'main:container-expence-detail' container.id  %} " role="tab">Chiqimlar</a>
                <a class="list-group-item list-group-item-action active" href="{% url 'main:container-trade-history' container.id %}" role="tab">Sotuv tarixi</a>
                {% else %}
                {% endif %}



            </div>


        
                   <!-- start 1 section -->
                    <section class="section mt-3">
                        <div class="card">
                         
                
                            <div class="row" id="table-inverse">
                                <div class="col-md-12">
                                    <div class="card">
                                       
                                        
                                        <div class="card-content m-3">
                                        
                                            <div class="table-responsive">
                                      
                                                <table class="table table-bordered  mb-0 mt-2 text-center" style="max-height: 40vh;">
                
                
                                                    <thead >
                                                        <tr >
                                                            <th>#</th>
                                                            <th >O'lcham</th>
                                                            <th>Qoldiq ( dona ) </th>
                                                            <th>Qoldiq (kuba )</th>
                                                            <th>Narx (kuba)</th>
                                                            <th>Narx ( dona )</th>
                                                            <th>Sotish (dona) </th>
                                                            <th>Jami narxi</th>
                                                        
                                                        </tr> 
                                                        
                                                    </thead>
                                                    <tbody class="products_tbody">

                               
                                                        {% for product in product_list %}
                                                        <tr style=" font-weight:bold;">
                                                            
                                                            <td></td>
                                                            <td data-id="{{ product.id }}" class="text-start">{{ product.product_size }} | {{ product.product_size.product_size_title }}</td>
                                                            <td class="text-bold-500 product_rest_qty" >{{ product.rest_qty }}</td>
                                                            <td class="text-bold-500 product_rest_cube">{{ product.rest_cube|floatformat:4 }}</td>
                                                            <td><input type="number" min="0" class="w-100  product-cube-cost" id="product_cube_cost_id" style="font-size: 14px; border:none; "></td>
                                                            <td><input type="number" min="0" class="w-100  product-cost" id="product_cost_id" style="font-size: 14px; border:none; "></td>
                                                            <td>
                                                                <input type="number" min="0" max="{{ product.rest_qty }}" class="w-100 product-qty check_qty" id="product_qty_id-{{ product.id }}" data-rest-qty="{{ product.rest_qty }}" style="font-size: 14px; border:none;">
                                                                <div class="error-message text-danger" id="error-message-{{ product.id }}" style="display: none; font-size: 12px;">Omborda buncha mahsulot yo'q !</div>
                                                            </td>

                                                            <td id="product_total_sum-1" class="total-sum">0</td>
                        
                                                        </tr>
                                                        {% endfor %}
                
                                                        
                                                      
                                                        
                                                       
                                                        
                                                        
                                                    </tbody>
                                                </table>
                                                <div class=""style="text-align:right;" >
                                                    <a href="#" id="show-modal" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#xlarge">Sotish</a>
                                                 
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                
                
                
                        </div>
                    </section> 
                    <!-- end 1 section -->

             
            </div>
        </div>
    </div>



 
</div> 

</div>

<div class="modal fade text-left" id="dangerContainer" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel120" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document">
    <div class="modal-content">
        <div class="modal-header bg-danger">
            <h5 class="modal-title white" id="myModalLabel120"></h5>
            <button type="button" class="close" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <div class="modal-body">
            <h5 class="modal-title text-center" id="myModalLabel120">Ushbu vagonni o'chirishni xoxlaysizmi ?</h5>
            <p class="text-center">Ushbu vagon o'chirilgan taqdirda unga bog'liq barcha ma'lumotlar o'chiriladi !</p>
            <form action="{% url 'main:delete-container' %}" method="post" >{% csrf_token %}
                <input type="number" style="display: none;" name="container_id" value="{{container.id }}">
                <div class="btns d-flex justify-content-center m-4">

                    <button type="button" class="btn btn-light-secondary  m-3"
                        data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Yo'q</span>
                    </button>
                    <button type="submit" class="btn btn-danger ms-1 m-3">
                        Ha
                    </button>
                </div>
            </form>
        </div>
     
    </div>
</div>
</div>

<!-- modal 1 -->
<div class="modal fade text-left modal-borderless" id="border-less" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Vagonni tahrirlash</h5>
            <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <div class="modal-body">
            <form action="" id="editContainerName" method="post">
                {% csrf_token %}

                <div class="form-group">

                    <select id="client_select" class="searchable" required name="supplier">
                        <option value="0" selected>Ta'minotchini tanlang</option>
                        {% for supplier in suppliers %}
                        {% if  supplier.id == container.supplier_container.id %}
                        <option value="{{ supplier.id }}" selected>{{ supplier.name }}</option>
                        {% else %}
                        <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                        {% endif %}
                        
                        {% endfor %}
                    </select>

                    <label for="basicInput" class="m-1">Raqami</label>
                    <input type="text" class="form-control" id="basicInput" name="name" value="{{ container.name }}" required>
                    <label for="basicInputDate1" class="m-1">Sana</label>
                    
                    <input type="date" class="form-control" id="basicInputDate1"  name="date" value="{{ container.come_date|date:'Y-m-d' }}" required>
                    <input type="text" value="{{ container.id }}" name="container_id" style="display: none;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Orqaga</span>
                    </button>
                    <button type="button" id="editContainerBtn" class="btn btn-primary ms-1" data-bs-toggle="modal" data-bs-target="#border-less">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">O'zgartirish</span>
                    </button>
                </div>
            </form>
        </div>
        
    </div>
</div>
</div>
<!-- endmodal 1 -->

<!-- modal 2  -->
<div class="modal fade text-left w-100" id="xlarge" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel16" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
    role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel16">Sotilayotgan mahsulotlar ro'yxati</h4>
            <button type="button" class="close" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table mb-0 table-lg" >
                            <thead>
                                <tr>
                                    <th>O'lcham</th>
                                    <th>Narx</th>
                                    <th>Soni</th>
                                    <th>Jami</th>
                                </tr>
                            </thead>
                            <tbody id="modal-products-tbody">
                                <tr></tr>
                             
                                
                            </tbody>
                        </table>
                    </div>
                    <br> 
                    <div class="info-text " style="text-align: left;">
                        <h6 >Jami: <span class="all_total_summa" >0</span></h6>
                    </div>

                    
                    
                </div>
                <div class="col-md-4">

                <form action="#" method="post" id="orderForm"> {%csrf_token %}
                    <div class="row">
                        <div class="col-md-12 m-2">
                            <select class="form-select" id="" name="currencyType">
                                <option value="2" selected>So'm</option>
                                <option value="1">Dollar ( $ )</option>
                            </select>
                        </div>
                        <div class="col-md-12 m-2" id="showCurrency">
                            <label class="form-label" >Kursni kiriting</label>
                            <input class="form-control" type="number" value="0" width="100%" name="usd_currency" id="rate_Currency" placeholder="$" >
                            <input class="form-control" type="number" value="{{ container.id }}" width="100%" name="container_id"  style="display: none;">
                        </div>
                        <div class="col-md-12 m-2" >
                            <label class="form-label" >To'lanayotgan summa</label>
                            <input class="form-control" type="number" value="0" width="100%" name="general_summa" id="payment_sum" >
                        </div>
                      
                        <div class="col-md-12">
                            <div class="form-check form-switch m-2">
                                <input class="form-check-input" type="checkbox" id="switchDebt" name="debt_check">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Nasiyaga savdo</label>
                            </div>
                        </div>
                    </div>
                    <span id="error-message" class="text-danger m-2" style="display: none;">Iltimos mijozni tanlang !</span>
                    <div class="col-md-12 m-2">
                        <select id="select_clients" class="searchable" name="client">
                            <option value="0" selected>Mijoz kiriting</option>
                            {% for client in clients %}
                            <option value="{{ client.id }}">{{ client.name }}</option>
                            {% endfor %}
                            
                        </select>
                    </div>
                    <input type="text" id="totalSumma" name="totalSumma" style="display: none;">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-light-secondary mt-5 mr-3" data-bs-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Orqaga</span>
                        </button>
        
                        <button type="submit" class="btn btn-success ms-1 mt-5"
                             id="confirmBtn" disabled>
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Tasdiqlash</span>
                        </button>
                    </div>
                    

                </form>
                
                
                
                </div>
                
                

            </div>
        </div>
      
    </div>
</div>
</div>
<!-- endmodal 2  -->


<div class="modal fade text-left" id="backToArchive" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel120" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document">
    <div class="modal-content">
        <div class="modal-header ">
            <h5 class="modal-title white" id="myModalLabel120"></h5>
            <button type="button" class="close" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <div class="modal-body">
            <h5 class="modal-title text-center" id="myModalLabel120">Ushbu vagonni arxivdan chiqarmoqchimisiz ?</h5>
            <p class="text-center">Arxivdan chiqarilgan barcha vagonlar asosiy sahifaga qo'shiladi !</p>
            <form action="{% url 'main:back-archive-container' %}" method="post" >{% csrf_token %}
                <input type="number" style="display: none;" name="container_id" value="{{container.id }}">
                <div class="btns d-flex justify-content-center m-4">

                    <button type="button" class="btn btn-light-secondary  m-3"
                        data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block " >Yo'q</span>
                    </button>
                    <button type="submit" class="btn btn-primary text-white ms-1 m-3">
                        Ha
                    </button>
                </div>
            </form>
        </div>
     
    </div>
</div>
</div>


<script>
    let $select_ = $('select.searchable').selectize({normalize:true})
    let selectize1 = $select_[0].selectize

    $(document).ready(function() {

        $('.check_qty').on('input', function() {
        var $this = $(this);
        var restQty = parseFloat($this.data('rest-qty'));
        var enteredQty = parseFloat($this.val());
        var errorMessageId = '#error-message-' + $this.attr('id').split('-')[1];

        if (enteredQty > restQty) {
            $(errorMessageId).show();
            $this.addClass('border-danger');
            $this.removeClass('product-qty');
            
        } else {
            $(errorMessageId).hide();
            $this.removeClass('border-danger');
            $this.addClass('product-qty');

        }
    });
    })

    const order_list = {}
    
    $(document).ready(function() {
    function updateTotalSum() {
        $('.products_tbody tr').each(function() {
            let $row = $(this);

            let cube_cost = Math.abs(parseFloat($row.find('.product-cube-cost').val()) || 0);
            let rest_cube = Math.abs(parseFloat($row.find('.product_rest_cube').text()) || 0);
            let rest_qty = Math.abs(parseFloat($row.find('.product_rest_qty').text()) || 0);

            let one_piece_cube = rest_qty ? rest_cube / rest_qty : 0;
            let one_piece_cost = cube_cost ? cube_cost * one_piece_cube : 0;

            if (cube_cost) {
                $row.find('.product-cost').val(one_piece_cost.toFixed(2));
            }

            let cost = Math.abs(parseFloat($row.find('.product-cost').val()) || 0);
            let quantity = Math.abs(parseFloat($row.find('.product-qty').val()) || 0);

            let totalSum = cost * quantity;
            $row.find('.total-sum').text(totalSum.toFixed(2));
});
    }

    $('.product-cost, .product-qty, .product-cube-cost').on('input', updateTotalSum);

    $('#show-modal').on('click', function() {
        let modalTableBody = $('#modal-products-tbody');
        modalTableBody.empty(); // Clear previous content
        
        let all_total_sum = $('.all_total_summa')

        let numberTotalSum = 0

        
        //order_list = []

        $('.products_tbody tr').each(function(index) {
            let $row = $(this);
            let size = $row.find('td:nth-child(2)').text();
            let cost = $row.find('.product-cost').val();
            let quantity = $row.find('.product-qty').val();
            let totalSum = $row.find('.total-sum').text();
            
            let product_id = $row.find('td:nth-child(2)').attr('data-id');


            numberTotalSum += Number(totalSum)

            if( cost === '' || cost.empty || totalSum === '0.00' ){
               
                modalTableBody.append('');
            }else{

                let modalRow = '<tr>' +
                    '<td>' + size + '</td>' +
                    '<td>' + cost + '</td>' +
                    '<td>' + quantity + '</td>' +
                    '<td>' + totalSum + '</td>' +
                    '</tr>';
                modalTableBody.append(modalRow);

    
                order_list[product_id]  = {
                                        "product_id": product_id,
                                        "product_cost": cost,
                                        "amount_sold":quantity,
                                        "total_price":totalSum,
                                    }
                


            }

        });

        //console.log(order_list)

        let course = localStorage.getItem("course");

        $('#rate_Currency').val(course)

        all_total_sum.text(numberTotalSum)

        $('#payment_sum').val(numberTotalSum)

        $('#totalSumma').val(all_total_sum.text()) //this for another form 

        if (Number(all_total_sum.text()) > 0){
            $("#confirmBtn").prop('disabled', false)
        }else{
            $("#confirmBtn").prop('disabled', true)

        }

        $('#xlarge').modal('show');
    });


    // Initial calculation
    updateTotalSum();
});




$(document).ready(function() {

    $('#confirmBtn').click(function(event) {
        let msg = $('#error-message')

        $("#confirmBtn").prop('disabled', true)

        if ($('#rate_Currency').val().trim() === ''){
            msg.text('Valyuta kiritishni unutdingiz !')
            msg.show()
        }else{
            msg.hide()

        }

        let course = $('#rate_Currency').val()

        localStorage.setItem("course", course);

        event.preventDefault();
       
        orderForm = $('#orderForm').serialize();

        let addParam = {"order_list":order_list} 
        


        let orderFormData = orderForm + '&' + $.param(addParam);

        $.ajax({
            url: '{% url "main:create-order" %}',  
            type: 'POST',
            data: orderFormData,
            success: function(response) {
                
                if (response.status == 400){
                    msg.text(response.error_message)
                    msg.show()
                }
                if(response.status == 200 ){

                    window.location.reload()
                    messageToast(response.status, response.message)

                }
                
                $("#confirmBtn").prop('disabled', false)
                
            },
            error: function(xhr, status, error) {

                console.log('Error updating data: ' + error);
                messageToast(status, error)

                $("#confirmBtn").prop('disabled', false)


            }
        });

    

    })
})


$(document).ready(function() {
    // Handle form submission with AJAX
    $('#editContainerBtn').click(function(event) {
        event.preventDefault();


        let editContainerForm = $(`#editContainerName`).serialize()

        $.ajax({
            url: '{% url "main:update-container-info" %}',  
            type: 'POST',
            data: editContainerForm,
            success: function(response) {

                $('#container_name').html(`Vagon raqami: ${response.data.container_name}  <i class="bi bi-pencil-square text-warning fs-4 mr-4" role="button" data-bs-toggle="modal"
                data-bs-target="#border-less"></i>
                <i class="bi bi-trash-fill text-danger fs-4 mr-4" role="button" data-bs-toggle="modal"
                data-bs-target="#dangerContainer"></i>`)
                $('#container_come_date').text(response.data.container_come_date)
                $('.supplier_info').text(`Ta'minotchi: ${response.data.supplier}`)
                messageToast(response.status, response.message)


            },
            error: function(xhr, status, error) {
                console.log('Error updating data: ' + error);
                messageToast(status, error)

            }
        });


    })
})



</script>



{% endblock content %}