{% extends 'wrapper.html' %}

{% block content %}



        <div id="main">

            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>


            <div class="page-heading">

                <section class="section"> 

                    <div class="card">
                        <div class="card-header">
                            <h3 class="text">Chiqimlar</h3> 
                            <div class="add-clients-btn d-flex justify-content-end" style="margin-top: -45px;">
                                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#border-less" >Chiqim turi qo'shish +</a>
                            </div> 
                            
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-3">
                                <div class="form-group">
                                    
                                        
                                <select id="first_select_expense" class="searchable">
                                    <option value="0">Chiqim turi</option>
                                    <option value="2">Komunal to'lovlar</option>
                                    <option value="3">Material uchun</option>
                                    <option value="4">Thomas Edison</option>
                                    <option value="5">Nikola</option>
                                    <option value="6">Selectize</option>
                                    <option value="7">Javascript</option>
                                </select>

                            
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check form-switch d-flex justify-content-center mt-1" >
                                    <input class="form-check-input fs-4" type="checkbox" id="switchExpense">
                                
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select id="second_select_expense" class="searchable" disabled>
                                        <option value="0">Ishchilar</option>
                                        <option value="2">Beast</option>
                                        <option value="3">Compatible</option>
                                        <option value="4">Thomas Edison</option>
                                        <option value="5">Nikola</option>
                                        <option value="6">Selectize</option>
                                        <option value="7">Javascript</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mt-5 ">
                            <div class="col-md-2">
                                <select class="form-select" id="basicSelect">
                                    <option>Valyutani turi</option>
                                    <option>USD</option>
                                    <option>UZS</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="basicInput" placeholder="Summa">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="basicInput" placeholder="Kurs">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button class="btn btn-success w-100">Tasdiqlash</button>
                                </div>
                            </div>

                            <div class="table-responsive p-5">
                                <table class="table table-bordered mb-0 text-center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Container</th>
                                            <th>Summa</th>
                                            <th>Chiqim summa</th>
                                            <th>Sotildi</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#</td>
                                            <td class="text-bold-500">00004</td>
                                            <td>1000 $</td>
                                            <td class="text-bold-500">50 $</td>
                                            <td>500 $</td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="form-check-input form-check-warning form-check-glow " checked="" name="customCheck" id="checkboxGlow6">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td class="text-bold-500">00004</td>
                                            <td>1000 $</td>
                                            <td class="text-bold-500">50 $</td>
                                            <td>500 $</td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="form-check-input form-check-warning form-check-glow " checked="" name="customCheck" id="checkboxGlow6">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#</td>
                                            <td class="text-bold-500">00004</td>
                                            <td>1000 $</td>
                                            <td class="text-bold-500">50 $</td>
                                            <td>500 $</td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="form-check-input form-check-warning form-check-glow " checked="" name="customCheck" id="checkboxGlow6">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        
                        
                    </div>

                </section>

            </div>


             <!-- modals -->
<div class="modal fade text-left modal-borderless" id="border-less" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Chiqim turlari</h5>
            <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                      <form action="#">
                      <div class="form-group d-flex">

                          <input type="text" class="form-control m-2" placeholder="Chiqim turi">

                          <button class="btn btn-success m-2" type="submit">Qo'shish</button>
                      </div>


                      </form>
                  </div>
                  
              <div class="col-md-12 ">
                  <div class="table-responsive">
                      <table class="table table-bordered mb-0 ">
                        <thead>
                          <tr>
                            <th>Nomi</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr id="row-1">
                            <td id="name-1" class="m-2">Sasna 2x4x5</td>
                            <td class="text-bold-500">
                              <i class="bi bi-pencil-square text-warning fs-5 cursor-pointer edit-btn" role="button" data-row-id="1"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </table>
                  </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Orqaga</span>
            </button>
           
        </div>
    </div>
</div>
</div>
<!-- endmodals -->      




<script>

   let $select_ = $('select.searchable').selectize()
   let selectize1 = $select_[0].selectize
   let selectize2 = $select_[1].selectize


    $(document).ready(function() {
        $('#switchExpense').on('change', function() {
            if(this.checked){
                selectize1.disable()
                selectize2.enable()

            }else{
                selectize2.disable()
                selectize1.enable()

            }
        });
    });


//expense 

$(document).ready(function() {
    $('.edit-btn').on('click', function() {
      const rowId = $(this).data('row-id');
      editRow(rowId);
    });
  });

  function editRow(rowId) {
    const nameTd = $(`#name-${rowId}`);
    const nameValue = nameTd.text();
    const actionTd = nameTd.next('td');

    nameTd.html(`<input type="text" class="form-control" id="input-name-${rowId}" value="${nameValue}">`);
    actionTd.html(`<i class="bi bi-check-square text-success fs-5 cursor-pointer save-btn" role="button" data-row-id="${rowId}"></i>`);

    $('.save-btn').on('click', function() {
      const rowId = $(this).data('row-id');
      saveRow(rowId);
    });
  }

  function saveRow(rowId) {
    const nameInput = $(`#input-name-${rowId}`);
    const nameValue = nameInput.val();
    const nameTd = $(`#name-${rowId}`);
    const actionTd = nameTd.next('td');

    nameTd.text(nameValue);
    actionTd.html(`<i class="bi bi-pencil-square text-warning fs-5 cursor-pointer edit-btn" role="button" data-row-id="${rowId}"></i>`);

    $('.edit-btn').on('click', function() {
      const rowId = $(this).data('row-id');
      editRow(rowId);
    });
  }



    
</script>




{% endblock content %}