{% extends 'wrapper.html' %}

{% block content %}
<link rel="stylesheet" href="static/assets/extensions/simple-datatables/style.css">



        <div id="main">

            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">

                <section class="section"> 

                    <div class="card">
                        <div class="card-header">
                            <h3 class="text">Ta'minotchilar</h3> 
                            <div class="add-clients-btn d-flex justify-content-end" style="margin-top: -45px;" >
                                <a href="#" class="btn btn-info text-white m-1"  data-bs-toggle="modal" data-bs-target="#modal_supplier">Ta'minotchi qo'shish <i class="bi bi-person-add"></i></a>
                                <a href="#" class="btn btn-primary m-1"  data-bs-toggle="modal" data-bs-target="#border-less" >To'lov qilish +</a>
                                
                            </div> 
                          
                            
                        </div>
                        <div class="card-body">
                            <table class="table table-striped  mt-2" id="table1">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ta'minotchi</th>
                                        <th>Telefon</th>
                                        <th>Hisob ( $ )</th>
                                        <th></th>
                                      
                                    </tr>
                                </thead>
                                    <tbody>
                                        {% for supplier in suppliers %}
                                        <tr>
                                                <td >{{ forloop.counter }}</td>
                                                <td id="td_supplier_name-{{ supplier.id }}"><a href="{% url 'main:supplier-detail' supplier.id %}" style="color: #25396F ; font-weight:bold;"> {{ supplier.name }} </a></td>
                                                <td id="td_supplier_phone-{{ supplier.id }}">{{ supplier.phone }}</td>
                                                <td >{{ supplier.usd_summa|floatformat:2 }}</td>
                                                
                                                <td class="text-center"><i class="bi bi-pencil-square text-warning fs-5 cursor-pointer" role="button" data-bs-toggle="modal"
                                                    data-bs-target="#default" onclick="editSupplier('{{ supplier.id }}')"></i>
                                                </td>
                                        </tr>
                                    {% endfor %}
                                    
                                        
                                        
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            </div>
        </div>


    <!-- modals -->
    <div class="modal fade text-left modal-borderless" id="border-less" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">To'lov qo'shish</h5>
                <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="paymentForm"  method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <p class="debt_info text-start text-warning" style="display:none;">
                           
                        </p>
                        
                    <select id="client_select" class="searchable" required name="supplier">
                        <option value="0" selected>Ta'minotchini tanlang</option>
                        {% for supplier in suppliers %}
                        <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                        {% endfor %}
                    </select>

                        <p class="client_error_msg text-start text-danger" style="display: none;">
                            Ta'minotchilardan birini tanlang !
                        </p>
                    </div>
                    <div class="form-group">
                        <select id="containerselect" class="searchable-2" required  name="container">
                            <option value="0" selected>Vagonni tanlang</option>
                            {% for container in containers %}
                            <option value="{{ container.id }}">{{ container.name }}</option>
                            {% endfor %}
                        </select>
                        <p class="container_error_msg text-start text-danger" style="display: none;">
                            Vagonlardan birini tanlang !
                        </p>
                        
                    </div>
                  
                    
                    <div class="form-group">
                        <label for="paymentSumInput" class="m-1">Summa</label>
                        <input type="number" class="form-control" id="paymentSumInput" placeholder="summa" required name="payment_sum">
                        <p class="summa_error_msg text-start text-danger mt-1" style="display: none;">
                            Summani kiriting !
                        </p>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Orqaga</span>
                </button>
                <button type="submit" class="btn btn-primary ms-1" id="paymentBtn">
                    Tasdiqlash
                </button>
            </div>
                </form>
        </div>
    </div>
</div>

    <!-- endmodals -->         


  <!-- modals -->
  <div class="modal fade text-left modal-borderless" id="modal_supplier" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Ta'minotchi qo'shish</h5>
              <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                  aria-label="Close">
                  <i data-feather="x"></i>
              </button>
          </div>
          <div class="modal-body">
              <form action="{% url 'main:suppliers' %}" method="post" >
                  {% csrf_token %}
                  
                  <div class="form-group">
                      <label for="basicInput">F.I.O</label>
                      <input type="text" class="form-control" id="basicInput" placeholder="F.I.O" name="name" required>
                  </div>
                  <div class="form-group">
                      <label for="basicInput2">Telefon</label>
                      <input type="text" class="form-control" id="basicInput2" placeholder="Telefon" maxlength="13" name="phone" required>
                  </div>
                
          
                  <div class="modal-footer">
                      <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                          <i class="bx bx-x d-block d-sm-none"></i>
                          <span class="d-none d-sm-block">Orqaga</span>
                      </button>
                 
                      <button type="submit" class="btn btn-primary ms-1 text-white">
                          Qo'shish
                      </button>
                  </div>
              </form>
          </div>
          
          
      </div>
  </div>
  </div>
  <!-- endmodals -->  

  
  <div class="modal fade text-left" id="default" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel1">Ta'minotchi ma'lumotlari</h5>
              <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                  aria-label="Close">
                  <i data-feather="x"></i>
              </button>
          </div>
          <div class="modal-body">
              <form method="post" id="editSupplierForm" action="{% url 'main:edit-supplier' %}">
                  {% csrf_token %}
                  
                  <div class="form-group">
                      <label for="basicInput">F.I.O</label>
                      <input type="text" class="form-control" id="modalName" placeholder="F.I.O" name="name" required>
                  </div>
                  <div class="form-group">
                      <label for="basicInput2">Telefon</label>
                      <input type="text" class="form-control" id="modalPhone" placeholder="Telefon" maxlength="13" name="phone" required>
                      <input type="text" class="form-control" id="modal_supplier_id" name="supplier_id" style="display: none;">
                  </div>
                
          
                  <div class="modal-footer">
                      <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                          <i class="bx bx-x d-block d-sm-none"></i>
                          <span class="d-none d-sm-block">Orqaga</span>
                      </button>
                      
                 
                      <button type="submit" class="btn btn-warning ms-1 text-white" id="editWorkerBtn">
                          Tahrirlash
                      </button>
                  </div>
              </form>
          </div>
          
      </div>
  </div>
</div>




    <script>
        let $select_ = $('.searchable').selectize()
        

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        function editSupplier(id){
            let name = $(`#td_supplier_name-${id}`).text()
            let phone = $(`#td_supplier_phone-${id}`).text()
    
            $('#modalName').val(name)
            $('#modalPhone').val(phone)
            $('#modal_supplier_id').val(id)
    
        }

       

        $(document).ready(function() {
            // Handle form submission with AJAX
            $('#paymentBtn').click(function(event) {

                let currencySelect = $('#currencySelect');
                let containerselect = $('#containerselect');
                let client_select = $('#client_select');

          

                let valid = true;
               
                if (client_select.val() === "0") {
                    valid = false;
                    $('.client_error_msg').show()
                  
                }else{
                    valid = true
                    $('.client_error_msg').hide()
                }
                if (containerselect.val() === "0") {
                    valid = false;
                    $('.container_error_msg').show()
                  
                }else{
                    valid = true
                    $('.container_error_msg').hide()
                }


                if ($('#paymentSumInput').val().trim() === '') {
                    valid = false;
                    $('.summa_error_msg').show()
                }else{
                    $('.summa_error_msg').hide()
                }

                
                
                
                if (valid) {
                    event.preventDefault();
                    
                    formData = $('#paymentForm').serialize()

                    $.ajax({
                        type: 'POST',
                        url: '{% url "main:payment-supplier" %}',
                        data: formData,
                        success: function(response) {
                            if(response.status == 200){
                                location.reload()

                            }

                            messageToast(response.status, response.message)

                        },
                        error: function(error) {
                            alert('Error submitting data');
                            
                            messageToast(status, error)

                            // Handle error response
                        }
                    });


                }
                
            })


        });


        $('#default').on('hidden.bs.modal', function() {
            $('#paymentForm')[0].reset();
            $('#modal_currencySelect')[0].selectize.clear();
        });


        $(document).ready(function() {
            // Initialize Selectize
            $('#client_select').selectize();
            $('#containerselect').selectize();
        
            function sendAjaxRequest(supplierId, containerId) {
                $.ajax({
                    url: '{% url "main:get-supplier-debt" %}',  // Replace with your actual URL
                    type: 'POST',
                    data: {
                        supplierId: supplierId,
                        container_id: containerId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        $('.debt_info').show()
                        $('.debt_info').html(`
                        Qarz: ${response.data.debt_usd.toFixed(2)} $
                        `)
                    
                    },
                    error: function(error) {
                        // Handle error
                        $('.debt_info').show()
                        $('.debt_info').html(`
                        Qarz: 0 $
                        `)

                    }
                });
            }
        
            function checkAndSendAjax() {
                let clientSelect = $('#client_select')[0].selectize;
                let containerSelect = $('#containerselect')[0].selectize;
        
                let clientId = clientSelect.getValue();
                let containerId = containerSelect.getValue();
        
                if (clientId !== '0' && containerId !== '0') {
                    sendAjaxRequest(clientId, containerId);
                }else{
                    $('.debt_info').hide()

                }
            }
        
            $('#client_select').change(function() {
                checkAndSendAjax();
            });
        
            $('#containerselect').change(function() {
                checkAndSendAjax();
            });
        });
        

        
    </script>

<script src="static/assets/extensions/simple-datatables/umd/simple-datatables.js"></script>
<script src="static/assets/static/js/pages/simple-datatables.js"></script>


{% endblock %}